<h1>Exercise 1: Create a Jupyter Notebook</h1>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List popular libraries used for Data Science
- Give examples on evaluating arithmetic expressions in Python
- Create a code cell to convert minutes to hours

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Scikit-learn
5. PyTorch

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

| Data Science Tools: |
| -------------|
| Data Science Tools |
| Anaconda |
| Git |

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
a = 1 * 5
print(a)

5

In [ ]:
b = (3 * 5) + 1
print(b)

16

In [ ]:
c = 2 ** 4
print(c)

16

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

This will convert 200 minutes to hours by diving by 60

In [ ]:
minutes = 200
hours = minutes / 60
print(str(hours) + " hours")

3.3333333333333335 hours

<strong>Exercise 10 - Insert a markdown cell to list Objectives.</strong>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2>
Michal Kaminski